[default]
update_freq = 5000

[filter]
track_base = 
track = 
follow = 
lang = 
rawjson = 
streamlog = 
parselog = 
updated_wordlist = 
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret = 

[sample]
lang = 
rawjson = 
streamlog = 
parselog = 
freq_dict = 
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret = 